name: Run yml validator

on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  yml-validator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npx yaml-validator action.yml .github/workflows/action-example.yml
