name: Run yml validator

on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  yml-validator:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      # This validator doesn't accept globs.
      - run: npx yaml-validator action.yml .github/action-example.yml
